/*Rst*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

main {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #4ea0ff;
  background-image: url("../assets/img/pattern.png");
  background-size: 43%;
  background-position: top;
  padding-top: 70px;
}

header figure,
footer {
  padding-inline: 10%;
}
.logo {
  width: 200px;
}
h1 {
  font-size: 40px;
}
.author,
h4 {
  color: gray;
}
.author {
  font-size: 14px;
}
.author a {
  text-decoration: none;
  color: #4ea0ff;
}

.tim {
  width: 100%;
}

.tim img {
  width: 49%;
}

.photo-source {
  font-size: 12px;
}

.article,
ul,
table,
footer {
  margin: 20px 0;
}

ul {
  margin: 18px;
}
.highlight {
  background-color: yellow;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
  background-color: #4ea0ff;
  color: white;
}

.dispari {
  background-color: #a5c6eb;
}

footer {
  width: 100%;
  height: 400px;
  margin: 25px 0;
}

footer figure {
  width: 20%;
  height: 40%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
}
.img-title {
  color: white;
}
.img1 {
  background-image: url("../assets/img/monitor.jpg");
}
.img2 {
  background-image: url("../assets/img/graph.jpg");
}
