/*Rst*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4ea0ff;
  background-image: url("../assets/img/pattern.png");
  background-size: 60% 170%;
  padding-top: 30px;
}
.logo {
  width: 200px;
}
h1 {
  font-size: 50px;
}
.author {
  color: gray;
}
.author a {
  text-decoration: none;
  color: #4ea0ff;
}

.photo-source {
  font-size: 12px;
}
